.pokemon-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

body {
    background-color: #fff6ec;
}

.toggle-button {
    display: block;
    margin: auto;
    margin-top: 2vw;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    color: inherit;
}