.card-bg {
    background-color: #ecb223;
    border-radius: 5px;
    width: 30vw;
    height: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-bg:hover {
    transform: scale(1.05);
    transition: transform 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.card-inner {
    background-color: #e5bb81;
    border-radius: 5px;
    width: 25vw;
    height: 35vw;
}

.sprite {
    width: 24vw;
    /* margin-left: 5vw; */
    /* margin: auto; */
    border-style: solid;
    border-color: black;
    border-width: 10px;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1vw;
}

.type {
    text-transform: capitalize;
    margin-left: 1vw;
}